.container {
  margin: auto;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  background-color: linen;
  margin-top: 25px;
}
button {
  background-color: lightcoral;
  color: beige;
  width: 65px;
  height: 34px;
  margin: 10px;
  border-radius: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: medium;
}
input {
  font-family: "Times New Roman", Times, serif;
  height: 25px;
  border: 1px solid rgb(73, 36, 3);
}
button:hover {
  background-color: palegoldenrod;
  color: black;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(109, 85, 53);
  padding: 5px;
  margin: 5px;
  border-bottom: 2px solid indianred;
  font-size: larger;
}
h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#play {
  width: 100px;
}
